.btn-main {
  background-color: rgb(246, 160, 203);
  border: 0;
  color: white;
}

.curosel-bg {
  background-color: rgba(231, 111, 81, 0.1);
}
.left-button {
  background-color: rgb(246, 160, 203);
}

.right-button {
  background-color: rgb(246, 160, 203);
}
